<div class="container">

    <div class="text-center my-5">
        <%= image_tag "imagen.jpg", class:"img-fluid rounded-start" %>
        <%# <%= link_to(image_tag("imagen.jpg", class:"card-img-top"), imagenes_path) %>
    </div>
    
        <h1 class="text-center mb-5">Puma Chileno</h1>
        <p>Felino esbelto y ágil de gran tamaño que habita en toda América. La subespecie existente en Chile puede medir hasta 2.8 metros de largo, 80 cms. de altura y pesar 80 kgs. La hembra es más pequeña y liviana. Su cabeza es redonda y de orejas erguidas. Su color es variable: entre rubio, amarillos-grises hasta pardo-rojizo. Tiene cinco garras retráctiles en las patas delanteras y cuatro en las patas posteriores. Se alimenta de guanacos, aves, roedores y ciervos como el pudú y el huemul. Es el depredador más peligroso de Chile y se recomienda tener cuidado al andar en la Cordillera.</p>
        <p>Distribución: Abunda desde Arica a Magallanes. Puede encontrarse tanto en plena cordillera como en bosques densos, pues puede adaptarse a cualquier ambiente, desde el nivel del mar hasta los 5.000 mts. de altitud.</p>
        <p>Hábitat: Puede encontrarse tanto en plena cordillera como en bosques densos, pues puede adaptarse a cualquier ambiente, desde el nivel del mar hasta los 5.000 mts. de altitud.</p>
        
    <div class="my-5 text-center">
        <%= link_to "Ver mas", :back, class:"btn btn-dark btn-sm" %>
    </div>

    

</div>

